<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinxiu123.bilibili.mapper.DataMapper">
  <resultMap id="BaseResultMap" type="com.jinxiu123.bilibili.enity.Data">
    <id column="data_id" jdbcType="BIGINT" property="dataId" />
    <result column="response_text" jdbcType="VARCHAR" property="responseText" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    data_id, response_text, creat_time, url, state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BL_data
    where data_id = #{dataId,jdbcType=BIGINT}
  </select>
  <select id="findByState" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from BL_data
    where state= #{value ,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from BL_data
    where data_id = #{dataId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jinxiu123.bilibili.enity.Data">
    <selectKey keyProperty="dataId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into BL_data (response_text, creat_time, url, 
      state)
    values (#{responseText,jdbcType=VARCHAR}, #{creatTime,jdbcType=TIMESTAMP}, #{url,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jinxiu123.bilibili.enity.Data">
    <selectKey keyProperty="dataId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into BL_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="responseText != null">
        response_text,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="responseText != null">
        #{responseText,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinxiu123.bilibili.enity.Data">
    update BL_data
    <set>
      <if test="responseText != null">
        response_text = #{responseText,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where data_id = #{dataId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinxiu123.bilibili.enity.Data">
    update BL_data
    set response_text = #{responseText,jdbcType=VARCHAR},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      url = #{url,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR}
    where data_id = #{dataId,jdbcType=BIGINT}
  </update>
</mapper>